<div class="wrapper">

  <h2>Search results:</h2>

  <% @results.each do |tweet| %>
    <p>
      <a href="https://twitter/<%= tweet[:handle] %>"><%= tweet[:handle] %></a>:
      <%= tweet[:content].html_safe %><br/>

    <%= form_tag "/users/#{@user.id}/tweets", method: :post  do %>
      <%= hidden_field_tag 'handle', tweet[:handle] %>
      <%= hidden_field_tag 'content', tweet[:content] %>
      <%= hidden_field_tag 'url', tweet[:link] %>
      <%= submit_tag "Save tweet" %>
    <% end %>
    </p>
  <% end %>
</div>


