<div class="wrapper">
  <h4>
    <a href="users/<%= @user.id %>/tweets">Saved tweets</a>
  </h4>

  <h2>Search tweets by Twitter handle or keywords</h2>

  <%= form_tag "/users/#{@user.id}/tweets/find", method: :post do %>
    <%= text_field_tag 'handle', nil, placeholder: 'Twitter handle' %>
    <%= submit_tag "Search by handle" %>
  <% end %>

  <%= form_tag "/users/#{@user.id}/tweets/find", method: :post do %>
    <%= text_field_tag 'keywords', nil, placeholder: 'Search term' %>
    <%= submit_tag "Search by keywords" %>
  <% end %>

  <%= form_tag "/users/#{@user.id}/tweets/find", method: :post do %>
    <%= text_field_tag 'hashtag', nil, placeholder: 'Hashtag' %>
    <%= submit_tag "Search by hashtag" %>
  <% end %>
</div>
