<div class="wrapper">

  <% @results.first do |tweet| %>
    <h2>Recent tweets by <%= tweet[:handle] %></h2>
  <% end %>

  <% @results.each do |tweet| %>
    <p><%= tweet[:content].html_safe %><br/>
    <a href="<%=tweet[:url]%>"><%= tweet[:url] %></a>
    <form action='/tweets' method='post'>
      <%= token_tag %>
      <input type='hidden' name='handle' value="<%= tweet[:handle] %>">
      <input type='hidden' name='content' value="<%= tweet[:content] %>">
      <input type='hidden' name='url' value="<%= tweet[:url] %>">
      <button>Save tweet</button>
    </form>
  <% end %>
</div>
