
<div class="wrapper">
  <h3>By <a href="http://twitter.com/<%= @tweet.handle %>">@<%= @tweet.handle %></a></h3> 
  <p><%= @tweet.content %></p>
  <p>Link: <a href="<%= @tweet.url %>" target='_blank'><%= @tweet.url %></a></p>

  <form action='/tweets/<%= @tweet.id %>' method='post'>
    <%= token_tag %>
    <input type='hidden' name='_method' value='delete'>
    <button>Delete</button>
  </form>

  <h4><a href="/tweets">Back to home</a></h4>
</div>  
